<p>add-product works!</p>
<hr/>
<div><a routerLink="/">back to list</a></div>
<hr/>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Add Product</h1>
    <div class="form-floating">
      <input formControlName="productName" type="text" class="form-control" id="productName" name="productName" placeholder="Product Name" required>
      <label for="productName">Product Name</label>
    </div>
    <div class="form-floating">
      <input formControlName="shortDescription" type="text" class="form-control" id="shortDescription" name="shortDescription" placeholder="Short Description" required>
      <label for="shortDescription">Short Description</label>
    </div>
    <div class="form-floating">
      <textarea formControlName="detailedDescription" type="text" class="form-control" id="detailedDescription" name="detailedDescription" placeholder="Detailed Description" style="height: 107px;" required></textarea>
      <label for="detailedDescription">Detailed Description</label>
    </div>
    <div class="form-floating">
      <input formControlName="category" type="text" class="form-control" id="category" name="category" placeholder="Category" required>
      <label for="category">category</label>
    </div>
    <div class="form-floating">
      <input formControlName="startingPrice" type="number" class="form-control" id="startingPrice" name="startingPrice" placeholder="Starting Price" required>
      <label for="startingPrice">Starting Price</label>
    </div>
    <div class="form-floating">
      <input formControlName="bidEndDate" type="date" class="form-control" id="bidEndDate" name="bidEndDate" placeholder="Bid EndDate" required>
      <label for="bidEndDate">Bid EndDate</label>
    </div>
    <!-- <div class="form-floating">
        <input formControlName="sellerEmailId" type="text" readonly class="form-control-plaintext" id="sellerEmailId" name="sellerEmailId">
    </div> -->
    <p>Complete the form to enable button.</p>
    <button [disabled]="!productForm.valid" class="w-100 btn btn-lg btn-primary" type="submit">Add Product</button>
</form>