<p *ngIf="user==''; else elseBlock">{{message}}</p>
<ng-template #elseBlock>Welcome <b>{{user}}</b>
<hr/>
<p>Product details</p>
<p>Product Id: {{id}}</p>
<table>
    <tr>
        <th>Product Name</th>
        <td>{{productDetails.productName}}</td>
    </tr>
    <tr>
        <th>Short Description</th>
        <td>{{productDetails.shortDescription}}</td>
    </tr>
    <tr>
        <th>Detailed Description</th>
        <td>{{productDetails.detailedDescription}}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{productDetails.category}}</td>
    </tr>
    <tr>
        <th>Starting Price</th>
        <td>{{productDetails.startingPrice}}</td>
    </tr>
    <tr>
        <th>Bid EndDate</th>
        <td>{{productDetails.bidEndDate}}</td>
    </tr>
</table>
<hr/>
<div style="text-align: center;">Bids</div>
<hr/>
<div *ngIf="productDetails.bids.length>0; else elseBidBlock">
<table>
    <tr>
        <th>Bid Amount</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
    </tr>
    <tr *ngFor="let bid of productDetails.bids">
        <td>{{bid.bidAmount}}</td>
        <td>{{bid.buyerName}}</td>
        <td>{{bid.buyerEmailId}}</td>
        <td>{{bid.buyerPhone}}</td>
    </tr>
</table>
</div>
<ng-template #elseBidBlock><div style="text-align: center;">No bids Yet</div></ng-template>
<a routerLink="/">back to list</a> | <a routerLink="/make-bid/{{this.id}}">Make Bid</a>
</ng-template>