<div><a routerLink="/">back to list</a></div>
<hr/>
<p style="color: red;" *ngIf="error">{{error}}</p>
<form [formGroup]="bidForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Make Bid</h1>
    <!-- <div class="form-floating">
        <input formControlName="productId" type="text" readonly class="form-control-plaintext" id="productId" name="productId">
    </div> -->
    <div class="form-floating">
        <input formControlName="bidAmount" type="number" class="form-control" id="bidAmount" name="bidAmount" placeholder="Bid Amount" required>
        <label for="bidAmount">Bid Amount</label>
      </div>
    <!-- <div class="form-floating">
        <input formControlName="buyerEmailId" type="text" readonly class="form-control-plaintext" id="buyerEmailId" name="buyerEmailId">
    </div> -->
    <p>Complete the form to enable button.</p>
    <button [disabled]="!bidForm.valid" class="w-100 btn btn-lg btn-primary" type="submit">Make Bid</button>
</form>