<div *ngIf="user==''; else elseBlock">{{message}}</div>
<ng-template #elseBlock>
  Welcome <b>{{user}}</b>
  <hr/>
  <a routerLink="/add-product">Add Product</a>
  <table>
      <tr>
        <!-- <th>Product Id</th> -->
        <th>Product Name</th>
        <th>Short Description</th>
        <th>Detailed Description</th>
        <th>Starting Price</th>
        <th>Bid EndDate</th>
      </tr>
      <tr *ngFor="let product of products">
        <!-- <td>{{product.productId}}</td> -->
        <td><a routerLink="/product-details/{{product.productId}}">{{product.productName}}</a></td>
        <td>{{product.shortDescription}}</td>
        <td>{{product.detailedDescription}}</td>
        <td>{{product.startingPrice}}</td>
        <td>{{product.bidEndDate | date}}</td>
      </tr>
  </table>
</ng-template>